In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt


import pyodbc
import pandas.io.sql
from textblob import TextBlob

import googletrans

from googletrans import Translator
import locale
locale.setlocale(locale.LC_ALL, "tr_TR.utf-8")

import twitter

In [5]:
### Parameters
server = 'DESKTOP-V7B8HFS\CINARBILISIM'
db = 'TwitterDB'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-V7B8HFS\CINARBILISIM; DATABASE=TwitterDB;Trusted_Connection=yes')
# query db

sql = "select  text from Tweet_import"
#sql1="SELECT       id_str, from_user, text, created_at, time, geo_coordinates, user_lang, from_user_id_str, user_followers_count, user_friends_count, user_location FROM            Memurlar "
#

In [4]:
#df=pd.read_sql('select  text from Tweet_import', conn)

In [7]:
#df = pandas.io.sql.read_sql(sql, conn)

In [6]:
df=pandas.read_sql(sql, conn)

UnicodeDecodeError: 'utf-16-le' codec can't decode bytes in position 508-509: unexpected end of data

In [6]:
df.head()

                                                text
0  RT @hasan_altnata1: Böyle babalar olduğu sürec...
1  RT @hasan_altnata1: Devleti kimin yönettiğini ...
2  RT @BerilDeniz77: Ersan Şen Hocam gerekeni\nAn...
3  RT @Mec_Zup_: Bir Zamanlar Suriye Savaşına Tez...
4  RT @av_karaarslan06: Dünkü çağımızdan sonra,bu...

In [79]:
metinlist=[]

for i in range (0, len (metin)):
    metinlist.append(metin [i].split())

In [81]:
metinlist[0]

['RT',
 '@ATAKIZI__:',
 'Bu',
 'mülteci',
 ',',
 '10',
 'TL',
 'karşılığında',
 'vatandaş',
 'olmuş,',
 'bir',
 'de',
 'utanmadan',
 '"Türk',
 'Vatandaşlığı',
 'Sadece',
 '10',
 'Türk',
 'Lirasıdır"',
 'diye',
 'video',
 'çekmiş.',
 'Bunun',
 'bir',
 'açıklaması',
 'var',
 'mı',
 '?',
 '#VatanEldenGidiyor',
 'https://t.co/P2K39p6rjY']

In [71]:
import csv

#with open('VatanEldenGidiyor.csv', 'w') as f:
   # write = csv.writer(f)
write.writerows(metinList)

ValueError: I/O operation on closed file.

In [82]:
import csv
# withDetails = ['Name', 'class', 'passoutYear', 'subject']
#rows = [ ['sushma', '2nd', '2023', 'Physics'],  ['john', '3rd', '2022', 'M2'],  ['kushi', '4th', '2021', 'M4']]
with open('metin.csv', 'w') as f:
    write = csv.writer(f)
# query    write.writerow(Details)
    write.writerows(metinlist)

UnicodeEncodeError: 'charmap' codec can't encode character '\u2764' in position 66: character maps to <undefined>