In [1]:
import pyodbc
import pandas as pd
import seaborn as sns

**1- Import the "IMDB top 1000_LV.csv" dataset with Python.**

(1000, 13)

**2- Create an empty table in a database with Python.**

Successful!

Database is created successfully

Query successful!

Query successful!

**3- Insert the "IMDB top 1000_LV.csv" dataset into the database with Python.**

**4- With Python and related sql queries from the database:**

<br>- Find number of movies
<br>- Find the highest rated movie
<br>- Find the second highest rated movie
<br>- Find the number of movies produced before 2000
<br>- Find the average gross of the movies by years.
<br>- Find the total number of movies by years.
<br>- Draw the frequency graph of the film ratings.
<br>- Find the top 10 movies with the highest gross and visualize them with a bar chart.
<br>- Find the total groos of the movies directed Peter Jackson.
<br>- Find the most popular star & most popular director and the number of movies they have included