In [18]:
import pyodbc
import pandas as pd
import seaborn as sns

**1- Import the "IMDB top 1000_LV.csv" dataset with Python.**

In [19]:
pwd

'C:\\Users\\sc977\\GDriveNew\\CLARUSWAY\\Sql\\Sql_Py_Baglanti'

In [20]:
df = pd.read_csv('IMDB top 1000_LV.csv')

**2- Create an empty table in a database with Python.**

In [21]:
df.head(2)

,Movie_ID,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Year,Directors,Stars,Votes,Gross($M)
0,1,The Shawshank Redemption,13+,142,Drama,9.3,80,Two imprisoned men bond over a number of years...,1994,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",2377444,28.34
1,2,The Godfather,16,175,"Crime, Drama",9.2,100,An organized crime dynasty's aging patriarch t...,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1646788,134.97

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_ID     1000 non-null   int64
 1   Title        1000 non-null   object
 2   Certificate  1000 non-null   object
 3   Duration     1000 non-null   int64
 4   Genre        1000 non-null   object
 5   Rate         1000 non-null   float64
 6   Metascore    1000 non-null   int64
 7   Description  1000 non-null   object
 8   Year         1000 non-null   int64
 9   Directors    1000 non-null   object
 10  Stars        1000 non-null   object
 11  Votes        1000 non-null   int64
 12  Gross($M)    1000 non-null   float64
dtypes: float64(2), int64(5), object(6)
memory usage: 101.7+ KB

In [23]:
def create_server_connection(driver, Localhost, master, user, password):
    conn = None
    try:
        conn = pyodbc.connect(DRIVER=driver, SERVER=Localhost, DATABASE=Master, UID=user, PWD=password)
        print("Successful!")
    except Error as err:
        print(f"Error: '{err}'")
    return conn
driver = '{ODBC Driver 17 for SQL Server}'
server = 'localhost'
database = 'master'
user = 'sa'
password = 'Sc1234566'
conn = create_server_connection(driver, server, database, user, password

SyntaxError: unexpected EOF while parsing (<ipython-input-23-27b3a835d419>, line 14)

In [36]:
conn_string = 'DRIVER={SQL Server};SERVER=DESKTOP-V7B8HFS\CINARBILISIM; DATABASE=Twitter20;Trusted_Connection=yes'

In [37]:
conn = pyodbc.connect(conn_string);

In [38]:
crs = conn.cursor()

In [39]:
conn.autocommit= True

**3- Insert the "IMDB top 1000_LV.csv" dataset into the database with Python.**

**4- With Python and related sql queries from the database:**

<br>- Find number of movies
<br>- Find the highest rated movie
<br>- Find the second highest rated movie
<br>- Find the number of movies produced before 2000
<br>- Find the average gross of the movies by years.
<br>- Find the total number of movies by years.
<br>- Draw the frequency graph of the film ratings.
<br>- Find the top 10 movies with the highest gross and visualize them with a bar chart.
<br>- Find the total groos of the movies directed Peter Jackson.
<br>- Find the most popular star & most popular director and the number of movies they have included